* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body {
  background-color: rgb(26, 24, 24);
  overflow: hidden;
  color: white;
  font-size: 1.5rem;
}

#blob {
  background-color: white;
  height: 600px;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: -3;
  background: linear-gradient(
    to right,
    aquamarine,
    mediumpurple,
    rgb(194, 133, 3)
  );
  animation: rotate 10s infinite;
  overflow: hidden;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 2;
  }
  to {
    rotate: 360deg;
  }
}

section {
  height: 100vh;
}

#blur {
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: -2;
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}

.container {
  position: absolute;
  margin: auto;
  text-align: center;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 90vw;
}

.return-text {
  margin-top: 2rem;
}

a {
  color: white;
}

h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .return-text {
    font-size: 1rem;
  }
}
